{% load static %}
<!doctype html>
<html lang=”ja”>
<head>
    <meta charset=”uft-8”>
    <title>残業代チェッカー</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}" />
</head>
    <body id="checker">
        <div id="wrap">
            <div class="content">

                <div class="main-center">
                    <h1>残業代チェッカー</h1>
                    <p>まずは無料診断！</p>
                    <img src="{% static "myapp/img/問題を出す人の画像.JPG" %}" border="0" class="guide-image">
                    <div class="explanatory-txt">
                        <p>あなたの残業代がすぐにわかる<br>会社に在籍中、または退職後２年以内ですか？</p>
                    </div>
                    <div class="btn-box">
                        <ul>
                            <script type="text/javascript" src="{% static "myapp/js/test.js" %}"></script>

                            <li><p class="js-modal-open"><a href="">いいえ</a></p></li>
                            <li><p class="btn"><a href="portfolio.html">はい</a></p></li>
                        </ul>
                    </div>
                </div><!--/.main-center-->
            </div><!--/.content-->
        </div><!--/.wrap-->

        <div class="modal js-modal">
            <div class="modal__bg js-modal-close"></div>
            <div class="modal__content">
                <h1>残業代請求の時効は2年です。</h1>
                <p>ご退職後2年以上とのご事情ですので、時効を過ぎており請求するのは難しいと思われます。
                    <br>今後、残業代の請求をされたい場合には、お早めに請求することをおすすめいたします。</p>
                <a class="js-modal-close" href="">閉じる</a>
            </div><!--modal__inner-->
        </div><!--modal-->


    <script src="{% static "myapp/js/test.js" %}" ></script>
    </body><!--/.checker-->
</html>
