{% load static %}
<!doctype html>
<html lang=”ja”>
<head>
    <meta charset=”uft-8”>
    <title>残業代チェッカー</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/style.css' %}" />
</head>
    <body id="checker">
        <div id="wrap">
            <div class="content">

                <div class="main-center">
                    <h1>残業代チェッカー</h1>
                    <p>まずは無料診断！</p>
                    <img src="{% static "myapp/img/問題を出す人の画像.JPG" %}" border="0" class="guide-image">
                    <div class="explanatory-txt">
                        <p>あなたの残業代がすぐにわかる<br>会社に在籍中、または退職後２年以内ですか？</p>
                    </div>
                    <div class="btn-box">
                        <ul>
                            <li><p class="btn"><a href="portfolio.html">いいえ</a></p></li>
                            <li><p class="btn"><a href="portfolio.html">はい</a></p></li>
                        </ul>
                    </div>
                </div><!--/.main-center-->
            </div><!--/.content-->
            <script type="text/javascript" src="{% static "myapp/js/test.js" %}"></script>
            <input type="button" value="OK" onclick="ohayou()">
        </div><!--/.wrap-->     
    </body><!--/.checker-->
</html>
