@charset "utf-8";

p,h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

h1 {
    color: red;
    opacity: 0.2;
    font-size: 36pt;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}

#wrap {
    clear: both;
    background-color: #ffffff;
    padding: 35px 0;
}

.main-center {
    width: 940px;
    margin: 0 auto;
}

.content {
    width: 960px;
    margin: 0 auto;
}

p {
    margin: 10px;
    list-style: none;
}

.explanatory-txt {
    width: 800px;
    float: left;
}

.explanatory-txt:after {
    content: "";
    display: block;
    clear: both;
}


.guide-image {
    float: left;
}

.btn-box ul {
    height: 250px;
}

.btn-box ul li{
    list-style: none;
    float: left;
}


.btn-box .btn a {
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    width: 185px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-box .btn a:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
}

